.portfolio{
    text-align: center;

    &__top{
        background: rgba(0,0,0,.9);
    }

    &__grid{
        @mixin atMedium{
            display: grid;
            grid-gap: 8px; 
            grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));  
            grid-auto-flow: dense;
        } 
    }

    &__img-wrapper{
        margin-bottom: 1.5rem;

        @mixin atMedium{
            margin-bottom: 0;
            cursor: pointer;
        }
    
        &--long{
            grid-column: span 2;
            grid-row: span 2;
        }

        &--wide{
            grid-column: span 2;
            grid-row: span 1;
        }
    }

     img{
         width: 100%;
         height:100%;
         display: block;
     }

     .no-cssgrid &__grid{
        @mixin atMedium{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            width: calc(100% - 8px);
        } 
     }

     .no-cssgrid &__img-wrapper{
        @mixin atMedium{
            margin: 4px;
            &--long{   
                width: calc((100% / 7) - 8px);  
            }
            &--wide{ 
                width: calc(((100% / 7)*2) - 8px);
            }
        } 
     }
}




